<nav class="navbar color navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <div class="img-user">
        <img src="user-svgrepo-com.svg" alt="User-photo">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse naver" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!-- Enlace de inicio -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="navegation('main/home')">Home</a>
          </li>

          <!-- Crear dropdowns para cada módulo -->
          <li *ngFor="let module of modules" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ module.moduleName }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li *ngFor="let view of module.views">
                <a class="dropdown-item" (click)="navegation(view.route)">{{ view.viewName }}</a>
              </li>
            </ul>
          </li>

          <!-- Enlace de cierre de sesión -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="logOut()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
